<%-include('../partials/header') %>
<%if(selTchr){%>
    <h2>this worked</h2>
    <h2>2, <%=selTchr%></h2>
    <h2>3, <%=selRm%></h2>
<%}%>
<form id="new-form" action="/lessons/selectednew" method = "GET">
    <div class="form-group">
        <label>Teacher:</label>
        <select name="teacher">
            <%teachers.forEach(function(t){%>
                <option value="<%=t._id%>"><%=t.firstName%> <%=t.lastName%></option>
            <%})%>
        </select>
    </div>
    <div class="form-group">
        <label>Room:</label>
        <select name="room">
            <%rooms.forEach(function(r){%>
                <option value="<%=r._id%>"><%=r.name%></option>
            <%})%>
        </select>
    </div>
    <button class="btn btn-dark" type="submit">View Calendar</button>
</form>
    <form action="/lessons" method = "POST">
    <div class="form-group">
            <label>Day of the Week:</label>
            <select name="day"> 
                    <option value=0>Sunday</option>
                    <option value=1>Monday</option>
                    <option value=2>Tuesday</option>
                    <option value=3>Wednesday</option>
                    <option value=4>Thursday</option>
                    <option value=5>Friday</option>
                    <option value=6>Saturday</option>
            </select>
        </div>
    <div class="form-group">
        <label>Lesson Time:</label>
        <%let dropDwn = clndrFuncs.dropDownTime()%>
        <select name = "time">
        <%for(let i = 0; i<dropDwn.length; i++){%>
            <%let selTime = dropDwn[i]%>
                <option value=<%=selTime.value%>><%=selTime.text%></option>
                <%}%>
            </select>
    <input type="date" class="form-control" name="start">
</div>
<div class="form-group">
    <label>Length:</label>
    <select name="length">
        <option value=30>30 min</option>
        <option value=45>45 min</option>
        <option value=60>60 min</option>
    </select>
</div>
<button class="btn btn-dark" type="submit">Schedule Lesson</button>
</form>
<%-include('../partials/footer')-%>