<%-include('../partials/header') %>
<h2>Student Page</h2>
<%if(student){%>
    <h4 class = "teacher"><%=student.firstName%> <%=student.lastName%></h4>
    <div class = "studio-list">
    <ul class = "list-unstyled">
        <li>
        </li>
        <li>

            <%=student.streetAdd%>
        </li>
        <li>

            <%=student.city%> <%=student.state%>  <%=student.zip%>
        </li>
        <li>

            <%=student.phoneNum%>
        </li>
        <li>

            <%=student.email%>
        </li>
        <li>

            <%=student.instruments%>
        </li>
        <li>
            Teacher: 
            <%=teacher.firstName%> 
            <%=teacher.lastName%> 
        </li>
        <li>
            Started: <%=student.startdate%>
        </li>
        <li>

           Student's Birthday: <%=student.birthdate%>
        </li>
    <br>

        <a href="/students/<%=student._id%>/edit" ><button class = "btn-dark">Edit Profile</button></a>
        <a href="/lessons/new/<%=student._id%>"><button class = "btn-dark">Add Lesson</button></a>

    </ul>
    </div>
<%}%>
<%- include('../partials/footer') %>
