<%-include('../partials/header') %>
<h2 class = "align">All Studios</h2>

<%if(studios.length){%>
  <div class = "studio-list"></div>
    <%studios.forEach(function(s){%>
      <div class = "list-items">
        <form action="/studios/<%=s._id%>?_method=DELETE" method = "POST"
            class = "delete-form align">
            <button type = "submit" class = "btn btn-outline-danger btn-sm dltBtn">x</button>
          </form>
        <a href="studios/<%=s._id%>" class = "list-text"><%=s.name%></a>
      </div>
    <%})%>
  </div>
<%}%>
<%- include('../partials/footer') %>  