<%-include('../partials/header') %>
<h2>All Studios</h2>

<%if(studios.length){%>
    <%studios.forEach(function(s){%>
            <form action="/studios/<%=s._id%>?_method=DELETE" method = "POST"
                class = "delete-form">
                <button type = "submit">x</button>
              </form>
            <a href="studios/<%=s._id%>"><%=s.name%></a>
    <%})%>
<%}%>
<%- include('../partials/footer') %>  