<%-include('../partials/header') %>
<h2>Create New Studio</h2>
<form id="new-form" action="/studios" method = "POST">
<div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" name="name">
</div>
<div class="form-group">
    <label>Phone Number:</label>
    <input type="text" class="form-control" name="phoneNum">
</div>
<div class="form-group">
    <label>E-mail:</label>
    <input type="text" class="form-control" name="email">
</div>
<div class="form-group">
    <label>Street Address:</label>
    <input type="text" class="form-control" name="streetAdd">
</div>
<div class="form-group">
    <label>City:</label>
    <input type="text" class="form-control" name="city">
</div>
<div class="form-group">
    <label>State:</label>
    <input type="text" class="form-control" name="state">
</div>
<div class="form-group">
    <label>Zip:</label>
    <input type="number" class="form-control" name="zip">
</div>
<div class="form-group">
    <label>Teachers:</label>
        <%teachers.forEach(function(t){%>
            <div class="form-check">
            <input name="teachers" class="form-check-input" type="checkbox" value="<%=t._id%>" id="defaultCheck1">
          <label class="form-check-label" for="<%=t._id%>">
            <%=t.firstName%> <%=t.lastName%>
          </label>
          </div>
        <%})%>
</div>
<div class="form-actions">
    <button class="btn btn-dark btn-lrg" type="submit">Submit form</button>
</div>
</form>


<%- include('../partials/footer') %>