<%-include('../partials/header')%>
<form id="new-form" action="/students/<%=student._id%>?_method=PUT" method = "POST" autocomplet="off">
<div class="form-group">
    <label>First Name:</label>
    <input type="text" class="form-control" name="firstName" value=<%=student.firstName%>>
</div>
<div class="form-group">
    <label>Last Name:</label>
    <input type="text" class="form-control" name="lastName" value=<%=student.lastName%>>
</div>
<div class="form-group">
    <label>E-mail:</label>
    <input type="text" class="form-control" name="email" value=<%=student.email%>>
</div>
<div class="form-group">
    <label>Street Address:</label>
    <input type="text" class="form-control" name="streetAdd" value=<%=student.streetAdd%>>
</div>
<div class="form-group">
    <label>City:</label>
    <input type="text" class="form-control" name="city" value=<%=student.city%>>
</div>
<div class="form-group">
    <label>State:</label>
    <input type="text" class="form-control" name="state" value=<%=student.state%>>
</div>
<div class="form-group">
    <label>Zip:</label>
    <input type="number" class="form-control" name="zip" value=<%=student.zip%>>
</div>
<div class="form-group">
    <label>Instruments:</label>
    <input type="text" class="form-control" name="instruments" value=<%=student.instruments%>>
</div>
<div class="form-group">
    <label>Teacher:</label>
    <input type="text" class="form-control" name="instruments" value=<%=student.teacher%>>
</div>
<div class="form-group">
    <label>Birth date:</label>
    <input type="date" class="form-control" name="instruments" value=<%=student.birthdate%>>
</div>
<div class="form-group">
    <label>Start date:</label>
    <input type="date" class="form-control" name="instruments" value=<%=student.startdate%>>
</div>
<button class="btn btn-primary" type="submit">Submit form</button>
</form>
<%- include('../partials/footer') %>
