<%-include('../partials/header') %>
<h2>All Teachers</h2>

<%if(teachers.length){%>
    <%teachers.forEach(function(t){%>
      <div class="list-items">
        <form action="/teachers/<%=t._id%>?_method=DELETE" method = "POST"
            class = "delete-form">
            <button class = "btn-outline-danger" type = "submit">x</button>
          </form>
        <a href="teachers/<%=t._id%>" class = "list-text"><%=t.firstName%> <%=t.lastName%></a>
      </div>
    <%})%>
<%}%>
<%- include('../partials/footer') %>  