<%-include('../partials/header') %>

<%if(students.length){%>
    <%students.forEach(function(s){%>
          <a href="/students/<%=s._id%>"><%=s.firstName%> <%=s.lastName%></a>
    <%})%>
<%}else{%>
    <h2>No Students to Show Yet</h2>
    <%}%>
<%-include('../partials/footer') %>
